.cart-item {
  display: flex;
  gap: 25px;
}

.image {
  width: 8rem;
}

.detail {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 5px;
}
.data {
  display: flex;
  flex-grow: 1;
}
.name {
  flex-grow: 1;
  font-weight: 500;
  font-size: 1.2rem;
}
.price {
  font-size: 1.5rem;
  font-weight: 300;
}

.action {
  display: flex;
}
.clear {
  cursor: pointer;
}
.clear svg {
  width: 1.5rem;
  height: 1.5rem;
}
