.cart-button {
  align-self: center;
  border: 0.18rem solid var(--dark-gray);
  padding: 0.5rem 1.56rem 2px 1.56rem;
  border-radius: 0.625rem;
  cursor: pointer;

  position: relative;
}

.cart-icon {
  width: 1.6rem;
}

.cart-button:hover {
  background-color: var(--light-gray);
  transform: scale(1.1);
  transition: all 0.3s;
}

.badge {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  background-color: var(--white);
  padding: 0px 0.5rem;
  border-radius: 3.125rem;
  border: 0.125rem solid var(--dark-gray);
}
