.cart-button {
  align-self: center;
  border: 3px solid var(--dark-gray);
  padding: 7px 25px 2px 25px;
  border-radius: 10px;
  cursor: pointer;
}

.cart-icon {
  width: 1.6rem;
}

.cart-button:hover {
  background-color: var(--light-gray);
  transform: scale(1.1);
  transition: all 0.3s;
}
