.form {
  display: flex;
  gap: 1.25rem;
  align-items: center;
  justify-content: center;

  align-self: end;
}

.submit {
  color: var(--white);
  background-color: var(--light-orange);
  padding: 5px 0.625rem;
  border: none;
  cursor: pointer;
}
