.form {
  display: flex;
  grid: 20px;
  align-items: center;
  justify-content: center;

  align-self: end;
}

.submit {
  color: var(--white);
  background-color: var(--light-orange);
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}
