.category-list {
  /* display: flex;
  align-items: center;
  justify-content: center;
  */
  gap: 1.5rem;

  display: grid;
  grid-template-columns: repeat(auto-fit, 6rem);
  /* grid-template-columns: repeat(auto-fit, minmax(4rem, 5.75rem)); */
  justify-content: center;

  padding-top: 2.5rem;
}
