.category-list {
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, 6rem);
  justify-content: center;

  padding-top: 2.5rem;
}

@media only screen and (max-width: 600px) {
  .category-list {
    grid-template-rows: repeat(9, 9rem);
  }
}
